{{ LIMINE_PREPEND_COMMENT }}

TIMEOUT=60


:{{ distro }}
	PROTOCOL=linux
	KERNEL_PATH=boot:///boot/{{ vmlinuz }}
	MODULE_PATH=boot:///boot/{{ initramfs }}
	CMDLINE={% if ostree != "" %}{{ marker }} rd.systemd.gpt_auto=0 rd.katsu.label={{ volid }} {{ ostree }}{% else %}root=live:LABEL={{ volid }} rd.live.image{% endif %} enforcing=0 {{ cmd }}

:{{ distro }} (Check Image)
	PROTOCOL=linux
	KERNEL_PATH=boot:///boot/{{ vmlinuz }}
	MODULE_PATH=boot:///boot/{{ initramfs }}
	CMDLINE={% if ostree != "" %}{{ marker }} rd.systemd.gpt_auto=0 rd.katsu.label={{ volid }} {{ ostree }}{% else %}root=live:LABEL={{ volid }} rd.live.image{% endif %} rd.live.check enforcing=0 {{ cmd }}

:{{ distro }} (nomodeset)
	PROTOCOL=linux
	KERNEL_PATH=boot:///boot/{{ vmlinuz }}
	MODULE_PATH=boot:///boot/{{ initramfs }}
	CMDLINE={% if ostree != "" %}{{ marker }} rd.systemd.gpt_auto=0 rd.katsu.label={{ volid }} {{ ostree }}{% else %}root=live:LABEL={{ volid }} rd.live.image{% endif %} enforcing=0 nomodeset {{ cmd }}